<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bank</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
  <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="account">
    <h2>Login</h2>
    <form method="post">
        <div class="form-group">
            <label for="User_Name">User_Name</label>
            <input type="text" class="form-control" id="User_Name" placeholder="User_Name" name = "User_Name">
        </div>
        <div class="form-group">
            <label for="User_Password">User_Password</label>
            <input type="password" class="form-control" id="User_Password" placeholder="User_Password" name = "User_Password">
        </div>

        <input type="submit" value="Submit" class="btn btn-success">
    </form>
  </div>
</body>
</html>