<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>用户列表</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>User_Name</th>
            <th>User_Password</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data_list %}
        <tr>
            <td>{{ item.User_Name }}</td>
            <td>{{ item.User_Password }}</td>
        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


</body>
</html>
