<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>bootstrap警告错误</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">
		&times;
	</button>
	成功！很好地完成了提交。
</div>
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">
		&times;
	</button>
	信息！请注意这个信息。
</div>
<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">
		&times;
	</button>
	警告！请不要提交。
</div>
<div class="alert alert-danger alert-dismissable">
	<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">
		&times;
	</button>
	错误！请进行一些更改。
</div>
	<input  type="text" placeholder="输入12位的学号" class="input_style" name="number"
                pattern="\d{12}" oninvalid="setCustomValidity('必须填写12位的学号');"
                οninput="setCustomValidity('');"/>

</body>
</html>